.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(0px)
  }
}

.new_question__answer_input {
  flex-grow: 1;
}

.inline_radio_container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.inline_radio_container__radio {
  transform: scale(2);
  margin-top: 0rem;
  margin-left: 1rem;
}

.quiz {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  padding-bottom: 2.5%;
  background-color: lightgrey;
}

.quiz--results {
  justify-content: center;
}

.quiz-header__right-side {
  float: right;
}

.quiz-header__left-side {
  float: left;
}

.quiz-header {
  background-color: whitesmoke;
  border-bottom: inset 5px;
  border-radius: 0 0 .5em .5em;
  padding: 0 .5em;
}

.scoreboard__text--green {
  color: limegreen;
}

.scoreboard__text--red {
  color: red;
}

@media (max-width: 40rem) {
  .scoreboard__text--expanded {
    display: none;
  }
}

@media (min-width: 40rem) {
  .scoreboard__text--collapsed {
    display: none;
  }
}

.quiz_question__question_container {
  flex-grow: 1;
  margin: 10%;
}

.quiz_question__answers_container {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  border-top: outset 5px;
  border-radius: 5%;
  background-color: lightgrey;
}

.quiz_question__question {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px black solid;
  border-radius: 2em;
  box-shadow: 1px 2px grey;
  background-color: whitesmoke;
}

.quiz_question__answer {
  min-width: 34%;
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 2% 3% 2% 3%;
  border: 2px black solid;
  border-radius: 1em;
  box-shadow: 1px 2px grey;
  background-color: whitesmoke;
}

.quiz_question__answer--selected {
  background-color: lemonchiffon;
}

.quiz_question__answer--locked {
  animation: answer_locked_blink 1s linear infinite;
  background-color: gold;
}

.quiz_question__answer--correct {
  background-color: lime;
}

.quiz_question__answer--incorrect {
  background-color: red;
}

@keyframes answer_locked_blink {
  50% {
    background-color:white;
  }
}

.quiz_footer__container {
  font-size: 1.5em;
  width: 100%;
}

.quiz_footer__button {
  border-radius: 7px;
  width: 95%;
}

.quiz_footer__button--active {
  background-color: lightgreen;
  color: black;
}

.questions {
  display: flex;
  min-height: 100vh;
  width: 100%;
  justify-content: center;
  background: lightgray;
}

.questions__container {
  display: flex;
  flex-direction: column;
  background-color: white;
  flex-grow: 1.5;
  padding: 0em 0.5em;
  min-height: 100vh;
}

.questions__spacer_div {
  flex-grow: 1;
}


.new_question {
  border-top: 3px inset;
  border-radius: 10%;
}

.new_question__submit {
  margin-bottom: 0.5em;
}

.new_question__answer-header {
  border-top: 3px inset;
  border-radius: 0.5em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 0.5em;
}

.new_question__answer-row {
  margin: 0 0 .4em 0;
  display: flex;
  justify-content: space-between;
  padding: 0 0.5em;
}

.question__user {
  margin-top: 2%;
}

.questions__list {
  margin-top: 2%;
  border-top: 3px inset;
  border-radius: 0.5em;
  padding: 0 4%;
  overflow-y: auto;
  flex: 1 1 0;
  max-height: 10em;
}

.questions__item {
  display: flex;
  padding: 0.3em 0;
  justify-content: space-between;
  border-bottom: 2px solid grey;
  align-items: center;
}

.resuluts {
  width: 67%;
  height: 67%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  background-color: white;
  border: .2em solid grey;
  border-radius: 10%;
}

.results__button-row {
  display: flex;
  align-self: center;
  width: 100%;
  justify-content: space-evenly;
}

.results__text--big_font {
  font-size: 2em;
}


 .results__text--correct {
   position: relative;
   bottom: 0.2em;
   left: 0.1em;
   color: lime;
 }

 .results__text--incorrect {
  position: relative;
  top: 0.2em;
  right: 0.1em;
  color: black;
}